@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
// font-family: 'Poppins', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Ubuntu', sans-serif;


*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    max-width: 1280px;
    margin: 0 auto;

    .cards-container {  
        display: flex;
        flex-wrap: wrap;
        margin-top: 5%;
        margin-bottom: 1%;

        .cards-item {
            display: flex;
            padding: 15px;
            width: 100%;

            .card {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                width: 100%;
                border: 1px solid #d3d3d342;
                // background-color: #afafaf17;

                .card-image {
                    img {
                        width: 100%;
                    }
                }

                .card-content {
                    display: flex;
                    flex-direction: column;
                    padding: 15px;
                    width: 100%;
                    font-family: 'Quicksand', sans-serif;

                    .card-title {
                        padding-bottom: 0.5rem;
                        font-family: 'quicksand', sans-serif;
                        font-size: 1.35rem;

                        a {
                            color: #686868f1;
                            text-decoration: none;
                        }
                    }

                    .card-text {
                        line-height: 2;
                        color: #999999;

                        ul li {
                            list-style: none;
                        }

                        .card-information {
                            width: 100%;
                            font-size: 0.92rem;
                        }

                        .card-left {
                            width: 50%;
                            float: left;
                        }

                        .card-right {
                            width: 50%;
                            float: right;
                            text-align: right;
                        }
                    }
                }
            }

            .card:hover {
                border: 1px solid #999999c4;
                transition: 0.4s ease-in-out;
            }
            .card-image:hover {
                opacity: 0.8;
                transition: 0.4s ease-in-out;
            }
            .card:hover .card-title a {
                color: #eb7d00;
                transition: 0.3s ease-in-out;
            }
            .card:hover .card-text {
                color: #686868;
                transition: 0.3s ease-in-out;
            }
        }
    }
}

@media (min-width: 650px) {

    .content {
        .cards-container {
            .cards-item {
                width: 50%;
            }
        }
    }
}

@media (min-width: 1000px) {
    .content {
        .cards-container {
            .cards-item {
                width: 33.333333%;
            }
        }
    }
}