@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
// font-family: 'Poppins', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Ubuntu', sans-serif;

// #151d20
// #2a343d
// #414f58
// #576975
// #6d8494
// #8a9ca8
// #a5b5bd
// #c6cdd5
// #e2e5e9
// #ffffff

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    max-width: 1280px;
    margin: 0 auto;

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5%;
        margin-bottom: 1%;

        .cards-item {
            display: flex;
            padding: 15px;
            width: 100%;

            .card {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                width: 100%;
                // border: 1px solid #d3d3d342;
                // background-color: #afafaf17;

                .card-image {
                    img {
                        width: 100%;
                    }
                }

                .card-content {
                    display: flex;
                    flex-direction: column;
                    padding: 15px;
                    width: 100%;
                    font-family: 'Quicksand', sans-serif;

                    .card-title {
                        padding-bottom: 0.5rem;
                        font-size: 1.25rem;

                        a {
                            color: #6d8494;
                            text-decoration: none;
                        }
                    }

                    .card-text {
                        line-height: 2;
                        color: #8a9ca8;

                        ul li {
                            list-style: none;
                        }

                        .card-information {
                            width: 100%;
                            font-size: 0.9rem;
                        }

                        .card-left {
                            width: 50%;
                            float: left;
                        }

                        .card-right {
                            width: 50%;
                            float: right;
                            text-align: right;
                        }
                    }
                }
            }

            // .card:hover {
            //     border: 1px solid #6d8494;
            //     transition: 0.4s ease-in-out;
            // }
            .card:hover .card-title a {
                color: #414f58;
                transition: 0.3s ease-in-out;
            }

            .card:hover .card-text {
                color: #576975;
                transition: 0.3s ease-in-out;
            }
        }
    }
}

@media (min-width: 650px) {
    .content {
        .cards-container {
            .cards-item {
                width: 50%;
            }
        }
    }
}

@media (min-width: 1000px) {
    .content {
        .cards-container {
            .cards-item {
                width: 33.33333%;
            }
        }
    }
}