@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand&family=Ubuntu&display=swap');
// font-family: 'Poppins', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Ubuntu', sans-serif;


*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    max-width: 1280px;
    margin: 0 auto;

    .cards-container {  
        display: flex;
        flex-wrap: wrap;
        margin-top: 5%;
        margin-bottom: 1%;

        .cards-item {
            display: flex;
            padding: 15px;
            width: 100%;

            .card {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                width: 100%;
                border: 1px solid #cfcfcf;
                background-color: #fff;

                .card-image {
                    img {
                        width: 100%;
                    }
                }

                .card-content {
                    display: flex;
                    flex-direction: column;
                    padding: 15px;
                    width: 100%;
                    font-family: 'Quicksand', sans-serif;

                    .card-title {
                        padding-bottom: 1rem;
                        font-size: 1.3rem;
                        font-weight: 500;

                        a {
                            color: #999898da;
                            text-decoration: none;
                        }
                    }

                    .card-text {
                        margin-bottom: 1rem;
                        line-height: 2;
                        font-size: 0.87rem;
                        color: #cfcfcf;

                        ul li {
                            list-style: none;
                        }

                        .card-information {
                            width: 100%;
                            font-size: 0.93rem;
                        }

                        .card-left {
                            width: 50%;
                            float: left;
                            text-align: left;
                        }
                        .card-right {
                            width: 50%;
                            float: right;
                            text-align: left;
                        }
                    }

                    .cards-button {
                        padding: 0.5rem;
                        text-align: center;
                        text-decoration: none;
                        border: 1px solid #cfcfcf;
                        background-color: #fff;
                        color: #cfcfcf;
                    }

                    .cards-button:hover {
                        text-decoration: none;
                        border: 1px solid #000000;
                        background-color: #000000;
                        color: #fff;
                        transition: 0.4s ease-in-out;
                    }

                    .button-block {
                        width: 100%;
                    }
                }
            }

            .card:hover{
                border: 1px solid #8a8a8a;
                transition: 0.4s ease-in-out;
            }
            .card:hover .card-title a {
                color: #000000;
                transition: 0.4s ease-in-out;
            }
            .card:hover .card-text {
                color: #000000;
                transition: 0.4s ease-in-out;
            }
            .card:hover .card-text strong{
                color: #ff8a8a;
                transition: 0.4s ease-in-out;
            }
            .card:hover .cards-button {
                border: 1px solid #8a8a8a;
                background-color: #fff;
                color: #8a8a8a;
                transition: 0.4s ease-in-out;
            }
        }
    }
}

@media (min-width: 650px) {

    .content {
        .cards-container {
            .cards-item {
                width: 50%;
            }
        }
    }
}

@media (min-width: 1000px) {
    .content {
        .cards-container {
            .cards-item {
                width: 33.333333%;
            }
        }
    }
}